:root{
    --bg-color:#2196f3;
    --bg-hover-color:#1976d2;
    --color:white;
}
button:hover{
    cursor: pointer;
}
button{
    font-weight: bold;
    padding: 0.5% 1%;
    border-radius: 5px;
    border: none;
}
.primary{
    --bg-color: var(--primary-color);
    --bg-hover-color:var(--primary-dark);
    --color:white;
}
.warning{
    --bg-color: var(--warning-color);
    --bg-hover-color:var(--warning-dark);
    --color:black;
}
.secondary{
    --bg-color: var(--secondary-color);
    --bg-hover-color:var(--dark-secondary);
    --color:black;
}
.danger{
    --bg-color: var(--danger-color);
    --bg-hover-color:var(--danger-dark);
    --color:black;
}
.fill{
    background-color: var(--bg-color);
    color: var(--color);
}
.fill:hover{
    background-color: var(--bg-hover-color);
}

.outlined{
    background-color: transparent;
    border: 2px solid var(--bg-color);
}
.outlined:hover{
    background-color: var(--bg-color);
    border: 2px solid var(--bg-hover-color);
}

